<div>
    <p>Title: @Movie.Title</p>
    <p>Release Date: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>
    @if (DisplayButtons)
    {
        <div>
            @*The Delete button invokes DeleteMovie function to the Movie passed in as arg*@
            <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
        </div>
    }

    <br />
</div>


@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    //below parameter has DeleteMovie method passed as an argument and uses it on item in MovieList page
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }


}

@*This component can be used to print the movie title and release date.  Just type 
<IndividualMovie Movie="nameOfList"

DisplayButtons parameter is used to receive a value of true or false, if false is
    passed in then the if statement will not display the buttons, if true then
    if statement will add delete buttons*@