@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="number" @bind="currentCount" />

<MoviesList Movies="movies"/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        movies = new List<Movie>()
    {
            new Movie(){Title = "Joker", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Avengers", ReleaseDate = new DateTime(2011, 6, 4)},
            new Movie(){Title = "He-Man", ReleaseDate = new DateTime(1989, 2, 4)},
        };
    }

}

@*Used databinding in an input box.  The data bind is between the text in the input box and the 
CurrentCount display.  Changing the count by either clicking on the button or updating the 
input box will synch the count between eachother*@
