@page "/"



<div>
    <h3>Movie</h3>

    @*The below tag uses MoviesList component and makes use of the Movies parameter to pass in
    the below movies list as the argument*@
    <MoviesList Movies="movies"/>
</div>

<button @onclick="AddNewMovie">Add new movie</button>

<div>
    <h2>Create a Movie</h2>

    @*Even though parameter does not exist for componenet, the component uses arbitrary parameter that
    allows non-existing parameters*@
    <DummyTextbox @attributes="dummyTextboxParameters"/>
    <DummyTextbox placeholder="What yeeeear?" madeupparemter="false"/>

</div>



@code{
    private List<Movie> movies;

    private Dictionary<string, object> dummyTextboxParameters = new Dictionary<string, object>()
    {
        {"placeholder", "new movie name" },
        {"disabled", "true" }
    };

    //protected async override Task OnInitializedAsync()
    protected override void OnInitialized()
    {
        //await Task.Delay(3000);

        movies = new List<Movie>()
        {
            new Movie(){Title = "The Raid 2", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Dredd", ReleaseDate = new DateTime(2011, 6, 4)},
            new Movie(){Title = "He-Man", ReleaseDate = new DateTime(1989, 2, 4)},
        };
    }


    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }

}

@*The move list that is used as the MovieList parameter's argument can be used as different
    categories for example we can have an actionMovies list, usrFavList or watched.
    
    This could be used for different machines in Endpoint?
    
    Using a variable dummyTextboxParameters to pass in placeholder and disabled attributes
    into the declared component - DummyTextBox
    
    Below is another DummyTextBox that uses parameters while declared in the tag
    This has a madeup parameter which can be created as a method*@ 
